/TEMA_10/TEMA10_Ejercicio1/build/
/TEMA_10/TEMA10_Ejercicio1/dist/
/TEMA_10/TEMA10_Ejercicio1/nbproject/private/
/TEMA_10/TEMA10_Ejercicio2/build/
/TEMA_10/TEMA10_Ejercicio2/nbproject/private/
/TEMA_10/TEMA10_Ejercicio3/build/
/TEMA_10/TEMA10_Ejercicio3/nbproject/private/
/TEMA_9/TEMA10_Ejercicio4/nbproject/private/
/TEMA_9/TEMA10_Ejercicio4/build/
/TEMA_9/TEMA10_Ejercicio5/nbproject/private/
/TEMA_9/TEMA10_Ejercicio5/build/
/TEMA_9/TEMA10_Ejercicio6/nbproject/private/
